/* 
#2C3E50
#E74C3C
#ECF0F1
#3498DB
#2980B9
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  /* place to set fonts bc font is inherited */
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: --color-black; }

.title--1 {
  font-weight: 300;
  font-size: 5rem; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr repeat(12, [col-start] minmax(max-content, 7rem) [col-end]) 1fr [full-end];
  grid-template-rows: 7rem 30vh repeat(3, min-content);
  grid-column-gap: 2rem; }

.navigation-container {
  grid-column: full-start/ full-end;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.05); }

.header-container {
  grid-column: col-start 1/ col-end 12;
  display: grid;
  grid-template-columns: 70% 30%; }

.benefits {
  grid-column: full-start/ full-end;
  background-color: #3498DB; }

.prices {
  grid-column: col-start 1/ col-end 12; }

.footer {
  grid-column: full-start/ full-end;
  background-color: #2C3E50; }
