//COLORS
/* 
#2C3E50
#E74C3C
#ECF0F1
#3498DB
#2980B9
*/


$color-primary-0: #E74C3C; // Main Primary color */



$color-secondary-1-0: #3498DB; // Main Secondary color (1) */
$color-secondary-1-1: #2980B9;

$color-secondary-2-0: #2C3E50; // Main Secondary color (2) */


$color-black: #000;
$color-white: #ECF0F1;
$color-grey-1: #BABABA;

//FONTS
$default-font-size: 16px;

//REPONSIVE BREAKPOINTS
