.container {
  @include general-layout;
  grid-template-rows: 7rem;
}
.navigation-container {
  @include general-layout;
  grid-column: full-start/ full-end;
  box-shadow: 0 3px 1rem rgba(#000, 0.05);
  align-content: center;
}
.dash-navigation-container {
  @include general-layout;
  grid-column: full-start/ full-end;
  box-shadow: 0 3px 1rem rgba(#000, 0.05);
  align-content: center;
}
.navigation {
  grid-column: content-start / content-end;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  @include respond(bp-xl) {
    padding: 1rem 2rem;
  }
  z-index: 1000;
}

.dash-user-container{
  padding: 0 7rem;
}