.logo {
  display: flex;
  align-items: center;
  justify-self: start;
  cursor: pointer;

  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $color-primary-0;
    margin-right: 2rem;
  }
  &__text {
    font-size: 2rem;
  }
}

.nav {
  font-size: 1.8rem;
  justify-self: end;

  &__list {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2rem;
    list-style: none;
    align-items: center;
  }
  &__link:visited,
  &__link:link {
    text-decoration: none;
    color: currentColor;
    &:hover {
      color: $color-secondary-1-1;
    }
  }
  @include respond(bp-m) {
    display: none;
  }
}

.hamburger-menu {
  width: 5rem;
  height: 5rem;
  margin-left: 2rem;
  display: none;
  @include respond(bp-m) {
    display: block;
    justify-self: end;
    margin-left: 0;
  }
}

.btn {
  background-color: $color-primary-0;
  padding: 1.2rem;
  text-decoration: none;
  color: $color-white;
  border: none;
  transition: all 0.2s;

  &--round {
    border-radius: 10rem;
  }
  &--square {
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: bold;
    width: 19rem;
    height: 5.1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column-gap: 1rem;
    grid-auto-flow: column;

    @include respond(bp-m) {
      margin-top: 8rem;
      grid-row: 3/4;
    }
  }
  &--square-2 {
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: bold;
  }

  &:hover {
    background-color: #c22818;
  }
  &__svg {
    width: 2rem;
    height: 2rem;
    fill: $color-white;
  }
}

.btn-2 {
  color: $color-white;
  text-decoration: none;
  border: 1px solid $color-white;
  border-radius: 4rem;
  background-color: none;
  padding: 0.8rem;
  font-size: 1.4rem;
  transition: all 0.2s;
  &:hover {
    background-color: $color-primary-0;
    border: none;
  }
}

.calc {
  display: grid;
  grid-row-gap: 2rem;
  align-content: start;
  justify-content: center;
  font-weight: 300;

  &__input {
    padding: 1rem;
    border-radius: 1rem;
    max-width: 27rem;
    @include respond(bp-m) {
      grid-row: 2/3;
      margin-right: 2rem;
    }
  }
  &__label {
    font-size: 1.9rem;
  }
  &__text {
    width: 27rem;
    @include respond(bp-m) {
      grid-column: 1/3;
      justify-self: start;
      width: auto;
    }
  }
  @include respond(bp-m) {
    margin-top: 10rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}

.card {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 2rem;

  &__icon {
    grid-row: 1/3;

    width: 9rem;
    height: 9rem;
    fill: $color-white;
    margin-top: -2rem;
  }
}

.prices {
  &__text {
    font-size: 2.2rem;
    font-weight: 300;
  }
  &__btn {
    justify-self: start;
    @include respond(bp-m) {
      grid-row: 7/8;
    }
  }
}

.price-category {
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  align-items: center;
  grid-column-gap: 2rem;
  font-weight: 300;

  &__name {
    align-self: end;
    font-size: 2.8rem;
  }
  &__cost {
    grid-column: 2/3;
    align-self: start;
    font-size: 3.2rem;
    color: $color-secondary-1-1;
  }
  &__text {
    grid-column: -2/ -1;
    grid-row: 1/3;
    font-size: 1.9rem;
    background-color: rgba(#e5e5e5, 0.45);
    border-radius: 1rem;
    margin-left: 6rem;
    padding: 1rem 2rem;
  }
  &__medal {
    grid-row: 1/3;
    grid-column: 1/2;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;

    &--bronce {
      background-color: #cd7f32;
    }
    &--silver {
      background-color: #cccccc;
    }
    &--gold {
      background-color: #d4af37;
    }
  }
}
.contact-box {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2rem;

  &__icon {
    width: 6rem;
    height: 6rem;
    fill: $color-white;
    cursor: pointer;
  }
}

.footer-nav {
  color: $color-white;
  &__list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3rem;
    justify-items: center;
    justify-content: center;
  }
  &__link:link,
  &__link:visited {
    color: currentColor;
    text-decoration: none;
  }
  &__item {
    font-size: 1.4rem;
  }
}
.footer-copy {
  color: rgb(160, 159, 159);
}

/////////   LOGIN PAGE

.sign-form {
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  min-width: 25.56rem;

  &__label {
    margin-top: 1.5rem;
    color: $color-black;
    font-size: 1.5rem;
  }
  &__input {
    border-radius: 1rem;
    border: 1px solid $color-grey-1;
    padding: 1rem;
  }
  &__separator {
    font-size: 1.8rem;
    font-weight: 300;
    color: $color-grey-1;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;

    &::after,
    &::before {
      content: "";
      width: 95%;
      height: 1px;
      background-color: $color-grey-1;
    }
  }
  &__btn {
    border: 2px solid $color-primary-0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    padding: 1rem 1.8rem;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;

    color: $color-primary-0;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__svg {
    width: 3.2rem;
    height: 3.2rem;
    fill: $color-primary-0;
  }
  &__link {
    color: $color-secondary-1-0;
    text-decoration: underline;
    cursor: pointer;
  }
}

/////////// SIDE BAR DASHBOARD

.side-nav {
  padding-top: 10rem;

  &__list {
    list-style: none;
  }
  &__item {
    transition: all 0.3s;
    padding: 2rem 5rem;
    &:not(:last-child) {
      border-bottom: 1px solid rgba($color-white, 0.5);
    }
    &:hover {
      background-color: $color-secondary-2-1;
    }
  }
  &__item:hover &__icon {
    transform: scale(1.1);
  }
  &__link:link,
  &__link:active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    text-decoration: none;
  }
  &__text {
    color: inherit;
  }
  &__icon {
    transition: all 0.2s;
    fill: $color-white;
    width: 3rem;
    height: 3rem;
  }
}

.dash-contact-box {
  display: flex;
  justify-content: space-between;
  width: 18.8rem;
  margin: 0 auto;

  &__icon {
    fill: white;
    width: 3.8rem;
    height: 3.8rem;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.3) rotate(10deg);
    }
  }
}

.dash-footer-copy {
  color: rgba($color-grey-2, 0.75);
  padding: 3rem 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: normal;
}
.dash-oper {
  background-color: white;
  width: 100%;
  margin: 6rem auto;
  border-radius: 1rem;
  box-shadow: 0 1px 0.5rem rgba(#000000, 0.25);
  padding-bottom: 3rem;
}
.oper-table {
  border-collapse: collapse;
  margin: 2.6rem 0;
  width: 100%;
  &:last-child {
    border-bottom: 1px solid $color-grey-2;
  }
  &__head {
  }

  &__head-title {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: start;
    padding-top: 1rem;
    padding-left: 2rem;
  }
  &__body {
  }
  &__row {
    border-top: 1px solid $color-grey-2;
    padding: 2rem 0;
  }
  &__cell {
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 2rem;
  }
  &__text {
    font-weight: 300;
    font-size: 1.6rem;
  }
  &__icon {
    width: 1.9rem;
    height: 1.9rem;
    &--pending {
      fill: #ddbe36;
    }
    &--processing {
      fill: #5be45b;
    }
    &--received {
      fill: #5be45b;
    }
    &--denied {
      fill: #eb3223;
    }
  }
}

.card {
  &__title {
    padding-top: 2.2rem;
    padding-left: 4.3rem;
  }
}
