body {
  /* place to set fonts bc font is inherited */
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: --color-black;
}

.heading{
  &--1{
    font-weight: 100;
    font-size: 6rem;
  }
  &--2{
    font-size: 4.3rem;
    text-transform: uppercase;
    font-weight: 300;
  }

  &--3{
    font-size: 3.1rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  &--4{
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: 300;
  }
}